.Segunda_Seccion{
    background-image: linear-gradient(12deg, rgba(193, 193, 193,0.05) 0%, rgba(193, 193, 193,0.05) 2%,rgba(129, 129, 129,0.05) 2%, rgba(129, 129, 129,0.05) 27%,rgba(185, 185, 185,0.05) 27%, rgba(185, 185, 185,0.05) 66%,rgba(83, 83, 83,0.05) 66%, rgba(83, 83, 83,0.05) 100%),linear-gradient(321deg, rgba(189,210,225, 0.05) 0%, rgba(189,210,225, 0.05) 13%,rgba(231, 231, 231,0.05) 13%, rgba(231, 231, 231,0.05) 34%,rgba(139, 139, 139,0.05) 34%, rgba(139, 139, 139,0.05) 71%,rgba(112, 112, 112,0.05) 71%, rgba(112, 112, 112,0.05) 100%),linear-gradient(236deg, rgba(189, 189, 189,0.05) 0%, rgba(189, 189, 189,0.05) 47%,rgba(138, 138, 138,0.05) 47%, rgba(138, 138, 138,0.05) 58%,rgba(108, 108, 108,0.05) 58%, rgba(108, 108, 108,0.05) 85%,rgba(143, 143, 143,0.05) 85%, rgba(143, 143, 143,0.05) 100%),linear-gradient(96deg, rgba(53, 53, 53,0.05) 0%, rgba(53, 53, 53,0.05) 53%,rgba(44, 44, 44,0.05) 53%, rgba(44, 44, 44,0.05) 82%,rgba(77, 77, 77,0.05) 82%,
    rgba(77, 77, 77, 0.147) 98%,rgba(8, 8, 8,0.05) 98%, rgba(8, 8, 8,0.05) 100%),linear-gradient(334deg, rgb(0,7,35),rgb(0,7,35));
   
    height: 50vh;
    margin-top: 150px;
    border-radius: 0 90px;
    display: flex;
    align-items: center;
    justify-content: center
    
}

.textos_SS{
   box-sizing: border-box;
   margin-left: 100px;
}
.textos_SS p{
    box-sizing: border-box;
    text-align: justify;
    width: 80%;
    color: white;  
    font-family: 'PT Sans Caption', sans-serif
}
.foto2{
  

    width: 600px;
}
.textos_SS h2{
    margin: 0;
    color: white;
    font-family: 'Kanit', sans-serif;
}

@media screen and (max-width: 750px){
    .Segunda_Seccion{
        
        height: 80vh;
        margin-top: 150px;
        border-radius: 0 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 20px 0;
        
    }
    .textos_SS{
        box-sizing: border-box;
        margin-left: 0px;
        
     }
     .textos_SS p{
        box-sizing: border-box;
        text-align: justify;
        width: 100%;
        color: white;    
        padding: 25px 20px;
        font-size: 14px;
         
     }
     .textos_SS h2{
        text-align: center;
     }
     .foto2{
        width: 200px;
    }


}

