.tercera_seccion{
    display: flex;
    align-items: center;
    margin-top: 200px;
    justify-content: space-evenly;
    color: rgb(10, 10, 80);
}

.foto3{
    width: 650px;
}
.textos_TS{
    margin: 0 150px;
}
.textos_TS p{
    font-family: 'PT Sans Caption', sans-serif
}
.textos_TS h2{
    font-family: 'Kanit', sans-serif;
}
@media screen and (max-width: 750px){ 

    .tercera_seccion{
        display: flex;
        align-items: center;
        margin: 0 20px;
        justify-content: center;
        flex-direction: column;
        padding: 40px 0;
    }
    
    .foto3{
        width: 100px;
        
    }
    .textos_TS{
        margin: 0;
        
    }
    .textos_TS p{
        text-align: justify;
       
        font-size: 14px;
    }
    .textos_TS h2{

            text-align: center;
            
        
    }
}